<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="web" id="tom">
    <main>
      <section>
        <h1>Tom Holland</h1>
        <img src="/images/tomSuit.png" alt="Tom Holland in Spider-Man suit" />
      </section>
      <section>
        <div class="movie-container">
          <ul>
            <% movies.forEach(function(movie) { %>
              <!-- if release date exists -->
              <% if (movie.release_date) { %>
                <li class="movie">
                  <a href="tom-holland/<%= movie.id %>">
                    <img
                      src="https://image.tmdb.org/t/p/original/<%= movie.poster_path %>"
                      alt="<%= movie.title %>"
                    />
                  </a>
                </li>
              <% } %>
            <% }); %>
          </ul>
        </div>
      </section>
      <div id="background-web">
       <%- include('../partials/web-'+wen); %>
      </div>
    </main>
    <%- include('../partials/scripts'); %>
  </body>
</html>
